h1{
    margin-top: 0;
    color:white;
    background-color: grey;
}

.row{
    margin: 5px;
}

.search-panels{
    background-color: rgb(208, 208, 208);
}

.results-panels{
    background-color: rgb(208, 208, 208);
    margin-right: 50px;
}

.danger{
    background-color: red;
    margin:2px;
    color:white;
}

.safe{
    background-color: lightgreen;
    margin:2px;
    color:white;
}